@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', sans-serif;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.main-heading h2{
    margin-bottom: 20px;
}

button{
    display: inline-block;
    background-color: teal;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 1000;
}

img{
    width: 450px;
}